h1 {
    border: 2px dotted red;
    border-radius: 10px;
  }
  
  table {
    border-collapse: collapse;
    empty-cells: hide;
  }
  
  table td,
  table th {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
  }
  
  table td:empty {
    border: none;
  }
  
  input[type="number"] {
    width: 75px;
  }
  
  img {
    height: 39px;
    vertical-align: text-bottom;
  }
  
  .selected {
    color: red;
  }
  
  a:hover {
    color: black;
    background-color: yellow;
  }
  