h1 {
  text-align: center;
  margin-top: 2cm;
  margin-bottom: 2cm;
  letter-spacing: 5%;
  text-transform: uppercase;
}

h2:before {
  content: counter(section) ".";
  counter-increment: section;
}

h2:after {
  content: ".";
}

img {
  width: 33%;
  min-width: 5cm;
  max-width: 15cm;
}