
/* Címsor betűtípusa */
h1 {
  font-family: Arimo, Arial, sans-serif;
  /* Extra-extra-extra nagy méret */
  font-size: 3em;
}

/* Aláhúzás csak az egérkurzor fölött */
h1 a {
  text-decoration: none;
}
h1 a:hover {
  text-decoration: underline;
}

/* Vezérlő csoportok közötti térköz */
fieldset + fieldset {
  margin-top: 10px;
}

/* Vezérlő csoportok kerete és térköze */
fieldset {
  border: 3px solid brown;
  padding: 10px;
}

/* Címkék szélessége */
label {
  width: 3cm;
}

/* Csúszka és szöveg közötti térköz */
label + input[type="range"] {
  margin-left: 0.5cm;
}

/* Vezérlők teljes szélessége */
input[type="number"], input[type="range"] {
  width: 100px;
}
