table {
    border-collapse: collapse;
    margin-bottom: 0.5cm;
}

table td {
    border: 1px dotted black;
    width: 1.2cm;
    height: 1.2cm;
    text-align: center;
}

input {
    width: 1cm;
}