img {
  width: 25px;
  height: 25px;
}

td {
  border: 2px inset gray;
  width: 35px;
  height: 35px;
  text-align: center;
}

table {
  border-spacing: 5px;
}

li {
  list-style-type: square;
}

h1 {
  font-family: Arial, sans-serif;
  text-transform: capitalize;
}
