table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  width: 1cm;
  height: 1cm;
  vertical-align: center;
}

th {
  font-size: 8pt;
}

.nincs {
  background-color: gray;
}

.munkanap {
  background-color: red;
}

.hetvege {
  background-color: blue;
}

.szabadsag {
  background-color: lightgreen;
}
