.sample-row {
    display: none;
}

table {
    border-collapse: collapse;
}

table td, table th {
    padding: 5px;
}

table th {
    font-size: 16pt;
    font-family:  Arial, sans-serif;
}

table tr td:first-child {
    text-align: center;
}

table tr:hover {
    background-color: lightgray;
}